In [47]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree

In [90]:
data = pd.read_csv("winequality-red.csv")

In [91]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [94]:
y = data.quality #labels
X = data.drop("quality", axis = 1) #features
X

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [102]:
X.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol'],
      dtype='object')

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [98]:
X_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
621,8.2,0.56,0.23,3.4,0.078,14.0,104.0,0.99760,3.28,0.62,9.4
1298,5.7,0.60,0.00,1.4,0.063,11.0,18.0,0.99191,3.45,0.56,12.2
1343,7.5,0.51,0.02,1.7,0.084,13.0,31.0,0.99538,3.36,0.54,10.5
1546,7.0,0.57,0.02,2.0,0.072,17.0,26.0,0.99575,3.36,0.61,10.2
45,4.6,0.52,0.15,2.1,0.054,8.0,65.0,0.99340,3.90,0.56,13.1

In [103]:
X_train_scaled = preprocessing.scale(X_train)
X_train_scaled

array([[-0.06864439,  0.17913338, -0.21118667, ..., -0.19854726,
        -0.22656793, -0.9625153 ],
       [-1.48106679,  0.40189624, -1.37850687, ...,  0.89575265,
        -0.57154457,  1.66240648],
       [-0.46412266, -0.09932019, -1.27700076, ...,  0.3164174 ,
        -0.68653679,  0.06870397],
       ...,
       [-0.63361335, -1.04606232,  0.24559081, ...,  0.05893507,
         0.75086589,  0.63118721],
       [ 0.38333078,  0.51327767, -1.17549466, ..., -0.97099426,
         0.23340093, -0.9625153 ],
       [-0.57711645,  0.93095802, -1.37850687, ...,  1.15323498,
        -0.801529  , -1.15000971]])

In [104]:
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [107]:
confidence = clf.score(X_test, y_test)
print("The confidence score is:")
confidence

The confidence score is:

0.59375

In [108]:
y_pred = clf.predict(X_test)

In [109]:
#converting the numpy array to list:

x = np.array(y_pred).tolist()

In [113]:
print("The prediction:")
for i in range(5):
    print(x[i])

The prediction:
7
6
5
5
6

In [114]:
print("The expectation:")
print(y_test.head())

The expectation:
56      5
1454    6
1312    5
166     5
648     7
Name: quality, dtype: int64